@import "./../../styles/shared.scss";

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $principal-font;
  padding-left: 10%;
  padding-right: 10%;
  background-color: $color-fourth;
  box-shadow: inset 0px 11px 8px -10px $color-secondary,
    inset 0px -11px 8px -10px $color-secondary;
  min-height: 75vh;

  &__title {
    font-family: $hello-font;
    letter-spacing: 3px;
    color: $color-principal;
    font-size: 20px;
    box-shadow: 2px 2px 5px $color-fifth;
    text-align: center;
    margin-top: 50px;

    @media (min-width: $breakpoint-tablet) {
      font-size: 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    padding-top: 30px;
    


    &-text {
      font-family: $principal-font;
      color: $color-principal;
      font-size: 20px;
    }

    &-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      padding-top: 30px;
      

    }

    &-fieldset {
      background-color: $color-fifth;
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      border: none;
    }

    &-label {
      font-family: $principal-font;
      color: $color-principal;
    }

    &-input {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: 10px;
      border: none;
      border-radius: 10px;
    }
    &-textarea {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 70px;
      margin-top: 10px;
      border: none;
      border-radius: 10px;

    }

    &-btn {
      width: 100%;
      background-color: $color-terciary;
      color: $color-fourth;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 20px;
      text-transform: uppercase;

      cursor: url(./../../../public/images/cursor-pointer.png), auto;
    }
  }
}
