@import "./../../styles/shared.scss";

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $principal-font;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 40px;
  padding-top: 20px;
  background-color: $color-fourth;
  box-shadow: inset 0px 11px 8px -10px $color-secondary,
    inset 0px -11px 8px -10px $color-secondary;
  min-height: 75vh;

  @media (min-width: $breakpoint-tablet) {
    padding-bottom: 50px;
    padding-top: 40px;
  }



  &__title {
    font-family: $hello-font;
    letter-spacing: 3px;
    color: $color-principal;
    font-size: 40px;
    box-shadow: 2px 2px 5px $color-fifth;
    text-align: center;
    margin-top: 50px;
  }

  &__text {
    color: $color-principal;
    font-size: 20px;
    text-align: justify;
    padding-bottom: 30px;
    padding-top: 30px;
  }
}
