@import "./../../styles/shared.scss";

.list {
  display: flex;
  flex-direction: column;
  //justify-content: center;
  font-family: $principal-font;
  padding-left: 10%;
  padding-right: 10%;
  background-color: $color-fourth;
  box-shadow: inset 0px 11px 8px -10px $color-secondary,
    inset 0px -11px 8px -10px $color-secondary;
  min-height: 75vh;

  &__title {
    color: $color-principal;
    font-size: 40px;
    box-shadow: 2px 2px 5px $color-fifth;
    text-align: center;
  }

  &__text {
    color: $color-principal;
    font-size: 20px;
    text-align: justify;
  }
}
