@import "./../../styles/shared.scss";

.me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $principal-font;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 50px;
  background-color: $color-fourth;
  box-shadow: inset 0px 11px 8px -10px $color-secondary,
    inset 0px -11px 8px -10px $color-secondary;

  &__container-image {
    text-align: center;
  }

  &__image {
    width: 21%;
    min-width: 150px;
    border-radius: 20%;
    margin-top: 30px;
    box-shadow: 2px 2px 10px $color-fifth;
  }

  &__title {
    font-family: $hello-font;
    letter-spacing: 3px;
    color: $color-principal;
    font-size: 40px;
    box-shadow: 2px 2px 5px $color-fifth;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__text {
    margin-top: 20px;
    color: $color-principal;
    font-size: 20px;
    text-align: justify;
    line-height: 34px;
  }
}
