@import "./styles/shared.scss";

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

html{
  cursor: url(./../public/images/cursor.png), auto;
}



.body {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 6vh 94vh;
  grid-gap: 0px;
  
}

.main {
  height: 100%;
  background-color: $color-fifth;
  overflow-x: hidden;
}
