@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

$breakpoint-tablet: 840px;
$breakpoint-desktop: 1024px;
$principal-font: 'Noto Sans', sans-serif;
$color-principal: #393232;
$color-secondary: #4D4545;
$color-terciary: #8D6262;
$color-fourth: #ED8D8D;
$color-fifth: #f2dbdb;
