@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

$breakpoint-tablet: 825px;
$breakpoint-desktop: 1024px;
$principal-font: 'Noto Sans', sans-serif;
$color-principal: #011504;
$color-secondary: #498752;
$color-terciary: #dd7b0b;
$color-fourth:  #eeeeee;
$color-fifth: #d4ebd0;
